/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hidden {
  visibility: hidden;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 5px;
}

.photo-card {
  display: grid;
  grid-template-rows: auto 50px;
  gap: 10px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px 1px #dddcdc;
}

.photo-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: inherit;
  grid-template-columns: repeat(4, auto);
  padding: 0 5px 5px;
}

.info-item {
  display: inherit;
  grid-template-rows: auto auto;
  text-align: center;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #808080;
  background-color: rgb(90, 181, 250);
  opacity: 0.9;
  transition: opacity 250ms ease-in-out;
}

.load-more:hover {
  opacity: 1;
}
